<!DOCTYPE html> 
{% load static %}
<html>
<head> 
<meta charset="UTF-8"> 
<title>lab7</title> 
<link rel="stylesheet" type="text/css" href="style.css"> 
<script src="script.js"></script> 
<style>
    body{
        background: url('https://kartinkin.net/uploads/posts/2021-07/1626980194_7-kartinkin-com-p-belii-fon-monotonnii-krasivo-7.jpg');
    }
    .vova{
        font-style:normal;
    }
</style>
</head>
<body> 
    <h1 style="text-align:center">Сайт-визитка</h1>
    <h2 class="vova"> ФИО: Попов Кирилл Вепхович </br> Дата рождения: 16.12.2002 г</br> Место жительства: г. Ульяновск </br> Образование: <ol><li> МБОУ СШ №9 города Димитровграда (2010-2021)</li><li> УлГТУ, ФИСТ (2021-2025)</li></ol><br> Хобби и увлечения: <ol><li>Компьютеры</li><li> IT сфера</li><li> математика</li><li> автомобили</li><li> фотографии</li> <li>фотошоп и видеомонтаж</li> <li> кулинария </li><li>компьютерные игры</li><li> волейбол</li></ol> <br> О себе: Родился в Димитровграде, будучи ещё в школе, интересовался компьютерами и IT сферой,</br> поэтому и решил поступить в УлГТУ на ФИСТ и связать свою дальнейшую судьбу с данной сферой.</br> Нравится также фотошоп и видеомонтаж. Занимаюсь спортом, волейболом. Люблю готовить. 
    </br>Ссылки: | <a href="https://vk.com/wodoman">VK</a>  | <a href="https://steamcommunity.com/id/Astitan34/">STEAM</a> | <a href="https://github.com/astitan"> GitHub</a> | 
    <img src="https://sun9-35.userapi.com/impg/uoFcVPC5qZUEdaryJszKzj32cNScXrIv7QBuJQ/vgernq6iWqk.jpg?size=589x716&quality=96&sign=9d9199d0d836725ae997c8cc00c7e979&type=album" alt="Картинка" style="position:absolute;left:1450px;top:100px" height="500px">
<h2>
</body>
</html>